/* IconButton.module.css */

/* Estilos base del botón */
.iconbutton {
    background-color: #007bff; /* Color de fondo predeterminado */
    color: #0ad1df; /* Color del texto predeterminado */
    border: none;
    padding: 16px 16px;
    border-radius: 10px;
    cursor: pointer;
  }
  
  