/* Home.module.css */
body {
  margin: 0;
  padding: 0;
  /* background: linear-gradient(135deg, #5d13b3, #eb4917); */
  background-color: #921111;
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  font-family: Arial, sans-serif;
  color: #fff; /* Color de texto en la app */
  height: 100vh;
  overflow: hidden;
}
.container {
  width: 100%;
  background-color: #fbfbff;
  margin: 0 auto;
  display: flex; 
  flex-direction: column;/* Utiliza flexbox para dividir la vista */
}

.formcontainer {
  flex: 0 0 30%; /* Lado izquierdo, aproximadamente el 30% del ancho */
  padding: 16px; /* Espaciado interior */
}

.tablecontainer {
  flex: 1; /* Resto del espacio disponible */
}

.content {
  display: flex;
  flex-direction: row;
  flex: 1; /* Resto del espacio disponible */
  margin-top: 100px;
}
